﻿body {
    padding: 0;
    margin: 0;
}
.list-group.invoiceContainer {
    margin: 0;
}
.list-group.invoiceContainer {
    margin: 0;
    border: 0 none;
    box-shadow: none;
}
.list-group-item.list-group-title.inv-title {
    border-color: #086499;
    box-shadow: -1px 0 0 #086499 inset;
    background: #086499;
}
.list-group.invoiceContainer > a.list-group-item > .badge {
    color: #fff;
    background: #0974b3;
    padding-top: 5px;
}