﻿@model Proceedo.Service.ViewModels.AccountViewModel

@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Index"))
{
    if (!string.IsNullOrEmpty(Model.ErrorMessage))
    {
        <div class="validation-summary-errors" data-valmsg-summary="true">
            @Model.ErrorMessage
        </div>
    }
    <div style="padding-top:10px">
        @Html.LabelFor(m => m.Username, new { style = "width:100px" })
        @Html.TextBoxFor(m => m.Username, new { style = "width:300px" })
    </div>
    <div style="padding-top:10px">
        @Html.LabelFor(m => m.Issuer, new { style = "width:100px" })
        @Html.TextBoxFor(m => m.Issuer, new { style = "width:300px" })
    </div>
    <div style="padding-top:10px">
        @Html.LabelFor(m => m.Audience, new { style = "width:100px" })
        @Html.TextBoxFor(m => m.Audience, new { style = "width:300px" })
    </div>
    <div style="padding-top:10px">
        @Html.LabelFor(m => m.Expiration, new { style = "width:100px" })
        @Html.TextBoxFor(m => m.Expiration, new { style = "width:300px" })
    </div>
    <div style="padding-top:10px">
        <input type="submit" value="Test proceedo" id="btnSubmit" />
        
        @*@Html.ActionLink("Test proceedo", "GetInvoices", "Proceedo", new { username = Model.Username, issuer = Model.Issuer, audience = Model.Audience, exp = Model.Expiration, test = true }, null)*@
    </div>

}

