﻿@model Proceedo.Service.ViewModels.ProceedoResponseViewModel
@{
    ViewBag.Title = "LoadData";
    //Layout = "";
}
@using Proceedo.Service.Resources;

@using (Html.BeginForm("LoadData"))
{
    <ul class="list-group invoiceContainer">
        <li class="list-group-item list-group-title inv-title">
            <span class="badge">@Model.invoiceSum</span>
            @Messages.Invoices
        </li>
        <a href="@Model.proceedoUrl" target="_blank" class="list-group-item">
            <span class="badge">@Model.invoicesToHandle</span>
            @Messages.NewInvoices
        </a>
        <a href="@Model.proceedoUrl" target="_blank" class="list-group-item">
            <span class="badge">@Model.invoicesImminentDue</span>
            @Messages.InvoicesDueDate
        </a>
        <a href="@Model.proceedoUrl" target="_blank" class="list-group-item">
            <span class="badge">@Model.requisitionApprovals</span>
            @Messages.OrdersToApprove
        </a>
    </ul>

}